@import url('reset.css');

@font-face{
  font-family: "Friz";
  src: url("../font/Friz Quadrata Regular.ttf") format("truetype");
}
body{
  font-family: "Friz";
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-x: hidden;
}
/* Add a black background color to the top navigation */
.topnav {
  width:100vw;
  height:8vh;
    background-color: #232323;
    overflow: hidden;
  }
  
  .topnav-option{
  
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 2.5vh 1vw;
    text-decoration: none;
    font-size: 3vh
  }
  
  .logo{
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 2.5vh 1vw;
    text-decoration: none;
    font-size: 3vh
  }
  
  #roll-team-btn{
    transition: .5s ease;
    margin:25vh auto;
    font-size:calc(10px + 12vw);  
    text-align: center;
    color:#f2f2f2;
    
    cursor:pointer;
  }
  
  #roll-team-btn:hover{
    color:#b39556;
    text-shadow: none;
  }
  
  .logo-img{
    float:left;
    height:4vh;
    width: auto;
    padding:1vw 1vh;
    margin-left:1vw;
  }
  /* Style the links inside the navigation bar */
  
  
  /* Change the color of links on hover */
  .topnav a:hover {
    transition: .5s ease;
    background-color: #ddd;
    color: black;
  }
  
  .content{
    display:none;
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
    grid-gap:2rem;
    padding:30px;
    
  }
  
  .pick{
    grid-area: 'pick';
    background-color:rgba(30, 30, 30, 0.8);
    text-align: center;
    height:80vh;
    font-size:4vh;
    color:white;
    border-style: double;
    border-width: 5px;
    border-color:rgba(17, 17, 17, 0.9);
  }
  
  .pick p{
    margin: 0.5vh 0.5vw ;
  }
  
  
  .champ-pic{
    height:50vh;
    border-style:double;
    border-width: 5px;
    border-color:black;
    margin:2vw 0;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .summ-name{
    padding-top:1rem;
    font-size:4vh;
  }
  
  .champ-pic-wrapper{
    position: relative;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .champ-pic-wrapper:hover .champ-pic {
    opacity: 0.3;
  }
  
  .champ-pic-wrapper:hover .middle {
    opacity: 1;
  }
  
  .reroll {
    transition: .5s ease;
    padding: 1rem 3rem;
  }
  
  .reroll:hover{
    filter: invert(53%) sepia(55%) saturate(357%) hue-rotate(3deg) brightness(103%) contrast(83%);
  }
  
  .reroll:active{
    filter: invert(53%) sepia(55%) saturate(357%) hue-rotate(3deg) brightness(120%) contrast(100%);
  }
  
  .reroll-icon{
    width:10vw;
  }
  
  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color:rgb(30, 30, 30);
  margin: 20vh auto; /* 15% from the top and centered */
  color: #aaa;
  padding: 20px;
  border: 5px double #888;
  width:30%; /* Could be more or less, depending on screen size */
  text-align: justify;
}

.modal-content h1{
  font-size:4vh;
  padding:1vh 0;
}

.modal-content p{
  font-size:2vh;
  margin-bottom: 2vh;
}

.modal-content input,button{
  font-family: "Friz";
  width:90%;
  font-size: 2vh;
  margin-bottom:2vh;
  padding:1vh 5%;
}
.modal-content button{
  width:100%;
  color:white;
  background-color: #b39556;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 4vh;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.champ-thumb-wrapper,.reroll-thumb-btn{
  display: none;
}



@media only screen and (max-width: 600px) {
 .modal-content{
   width:85%;
 }
 
 .champ-thumb-wrapper, .reroll-thumb-btn{
   display: block;
   
 }
 
 .reroll-thumb-btn{
    margin: 2vh auto;
    width:90%;
    font-size: 4vh;
    color:white;
    background-color: #b39556;
    text-shadow: #1b1b1b 1px 0 10px;
    border:double 5px #1b1b1b; 
 }
 
 .champ-pic-wrapper{
   display: none;
 }
 
 .content{
  display:none;
  grid-template-columns: 80vw;
  grid-gap:2vh;
  padding:5vh 2vw;
}

.pick{
  margin:0 auto;
}

}